XSD/doc.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="doc" type="docType"/>
  <xs:complexType name="chapterType">
    <xs:sequence>
      <xs:element type="xs:string" name="title"/>
      <xs:element type="xs:string" name="para"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id"/>
  </xs:complexType>
  <xs:complexType name="docType">
    <xs:sequence>
      <xs:element type="chapterType" name="chapter"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
